<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="article-post">
    <div class="article-inner">
      <img src="/css/images/postmark.png" class="article-postmark" />
      <%- partial('post/gallery') %>
      <% if (post.link || post.title){ %>
        <header class="article-header">
          <%- partial('post/title', {class_name: 'p-name article-title'}) %>
        </header>
      <% } %>
      <div class="article-meta">
        <span class="article-date-link">
          <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        </span>
        <%- partial('post/category') %>
        <% if (post.history !== 0) { %>
          <span class="article-history-link">
            <a href="<%- url_for(post.path) %>#history" class="article-history-href">
              修订 <%= post.historyMeta.list.length %>
            </a>
          </span>
          <script>
            document.querySelector('.article-history-href').addEventListener('click', function (e) {
              e.preventDefault()
              document.querySelector('#history').scrollIntoView({ behavior: 'smooth' });
            })
          </script>
        <% } %>
        <% if (post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey ){ %>
          <span class="article-comment-link">
            <a href="<%- url_for(post.path) %>#comments" class="article-comment-href">
              <%= __('comment') %>
              <span class="post-comments-count valine-comment-count" data-xid="<%- url_for(post.path) %>" itemprop="commentCount">...</span>
            </a>
          </span>
          <script>
            document.querySelector('.article-comment-href').addEventListener('click', function (e) {
              e.preventDefault()
              document.querySelector('#comments').scrollIntoView({ behavior: 'smooth' });
            })
          </script>
        <% } %>
        <% if (post.shortUrl) { %>
          <span id="article-shorts">短链： <%= post.shortUrl %></span>
        <% } %>
      </div>
      <div class="e-content article-entry" itemprop="articleBody">
        <% if (post.excerpt && index){ %>
          <%- post.excerpt %>
          <% if (theme.excerpt_link){ %>
            <p class="article-more-link">
              <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
          <% } %>
        <% } else if (!index) { %>
          <%- post.content %>
        <% } %>
      </div>
      <% if(!post.no_toc) { %>
        <nav id="article-toc">
          <div class="at-container">
            <div class="at-title" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
              <%= post.title %>
            </div>
            <div class="at-scroll">
              <%- toc(page.content, { max_depth: 2, list_number: false }) %>
            </div>
          </div>
        </nav>
        <script>
          document.querySelectorAll('#article-toc .toc-item>.toc-link').forEach(el => {
            el.addEventListener('click', e => {
              e.preventDefault()
              const titleId = decodeURIComponent(el.getAttribute('href'))
              document.querySelector(titleId).scrollIntoView({ behavior: 'smooth' });
            })
          })
        </script>
      <% } %>
      <div class="article-footer <%= !index ? '' : 'homepage' %>">
        <% if (post.history !== 0) { %>
          <%- partial('history') %>
        <% } %>
        <%- partial('post/tag') %>
        <% if (!index) { %>
          <%- partial('post/nav') %>
        <% } %>
      </div>
    </div>
  </div>
</article>

<% if (!index && post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey){ %>
  <section id="comments" class="vcomment">

  </section>
<% } %>