<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="article-post">
    <div class="article-inner">
      <%- partial('post/gallery') %>
      <% if (post.link || post.title){ %>
        <header class="article-header">
          <%- partial('post/title', {class_name: 'p-name article-title'}) %>
        </header>
      <% } %>
      <div class="article-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        <%- partial('post/category') %>
        <% if (post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey ){ %>
          <a href="<%- url_for(post.path) %>#comments" class="article-comment-link">
            <span class="post-comments-count valine-comment-count" data-xid="<%- url_for(post.path) %>" itemprop="commentCount"></span>
            <%= __('comment') %>
          </a>
        <% } %>
      </div>
      <div class="e-content article-entry" itemprop="articleBody">
        <% if (post.excerpt && index){ %>
          <%- post.excerpt %>
          <% if (theme.excerpt_link){ %>
            <p class="article-more-link">
              <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
          <% } %>
        <% } else if (!index) { %>
          <%- post.content %>
        <% } %>
      </div>
      <% if(!post.no_toc) { %>
        <nav id="article-toc">
          <div class="at-container">
            <div class="at-title" onclick="window.scrollTo({ top: 0 })">
              <%= post.title %>
            </div>
            <div class="at-scroll">
              <%- toc(page.content, { max_depth: 2, list_number: false }) %>
            </div>
          </div>
        </nav>
      <% } %>
      <footer class="article-footer <%= !index ? '' : 'homepage' %>">
        <%- partial('post/tag') %>
        <% if (!index){ %>
          <%- partial('post/nav') %>
        <% } %>
      </footer>
    </div>
  </div>
</article>

<% if (!index && post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey){ %>
  <section id="comments" class="vcomment">

  </section>
<% } %>