<head>
  <meta charset="utf-8">
  <%- partial('google-analytics') %>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <link rel="preconnect" href="//comment.paperplane.cc">
  <link rel="preconnect" href="//cdn.paperplane.cc">
  <link rel="dns-prefetch" href="//comment.paperplane.cc">
  <link rel="dns-prefetch" href="//cdn.paperplane.cc">
  <link rel="dns-prefetch" href="//forge.speedtest.cn">
  <link rel="prefetch" as="script" href="//unpkg.com/leancloud-storage@3/dist/av-min.js">
  <link rel="prefetch" as="script" href="//unpkg.com/valine@1.5.1/dist/Valine.min.js">
  <title><% if (title){ %><%= title %> | <% } %><%= config.browser_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="baidu-site-verification" content="codeva-26JBvIPGM8" />
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b1b53dc42cdf180a24704cec0e52c6ec";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <script>
    function setupCursorEffects() {
      new cursoreffects.fairyDustCursor()
    }
  </script>
  <style>
    body>canvas { z-index: 50; }
  </style>
  <script defer async src="/js/cursor-effects.js" onload="setupCursorEffects()"></script>
  <%- open_graph({twitter_id: theme.twitter, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (config.feed) { %>
    <%- feed_tag() %>
  <% } else if (theme.rss) { %>
    <%- feed_tag(theme.rss) %>
  <% } %>
  <% if (theme.favicon){ %>
    <%- favicon_tag(theme.favicon) %>
  <% } %>
  <% if (config.highlight.enable){ %>
    <%- css('css/typeface-source-code-pro') %>
  <% } %>
  <%- css('css/style') %>
  <% if (theme.fancybox){ %>
    <%- css('fancybox/jquery.fancybox.min.css') %>
  <% } %>
</head>
