<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <div class="outer">
    <main id="main"><%- body %></main>
    <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
    <% } %>
  </div>
  <%- partial('_partial/website-index') %>
  <%- partial('_partial/after-footer') %>
</body>

</html>